.user-form label {
    color: #F27405;
    font-weight: 700;
    margin-top: 10px;
}
.user-form input {
    border: 3px solid #F27405;
    border-top-right-radius: 30px;
    font-weight: 600;
    color: 180C21;
}
.user-form input:enabled {
    border: 3px solid #F27405;
    box-shadow: none;
}
.radio-text {
    color: white;
}
.btn-add {
    background-color: #F27405;
    color: white;
    padding: 10px;
    font-size: 20px;
    border: 1px solid #F27405;
    border-top-right-radius: 30px;
    float: right;
}
.btn-add:hover {
    background-color: white;
    color: #F27405;
    transition-duration: 0.2s;
}